.education{

    .wrapper{
        max-width: 800px;
        height: 90%;
        margin: auto;
    
    h1{
        text-align: left;
        font-size: 40px;
    }
    h2{
        margin-left: 90px;
        font-size: 30px;
    }
    p{
        margin-left: 600px;
        font-size: 20px;
    }
    h5{
        margin-left: 600px;
        font-size: 15px;
    }
    h3{
        margin-left: 90px;
        font-size: 20px;
    }
   
    }
}